
/* banner style */
.banner-greetings{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 400;

}
.banner-title{
    font-weight: bold;
    font-size: 56px;
}
.banner-profile-pic{
    width: 474px;
}
.banner{
    display: flex;
    justify-content: space-around;
    background-color: #72bba7;
    border-radius: 24px;
    margin: 0 auto;
    width: 100;
    padding: 100px;

}
.btn-primary{
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px;
}
.target-cont{
    
    padding: 50px;
      
}
.box{
    padding: 20px;
    width: 300px;
    height: 250px;
    border-radius: 23px;
}

.html-box{
    background-color: #5490F5;
}
.css-box{
    background-color: #09A15C;
}
.js-box{
    background-color: #FFC239;
}
.box-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.button1{
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px;
}
.button2{
    background-color: #09A15C;
    border-radius: 8px;
    padding: 11px;
}
.button3{
    background-color: #FFC239;
    border-radius: 8px;
    padding: 11px;
}
main{
    width: 70%;
    background-color: rgb(243, 240, 240);
    margin: 0 auto;
    padding: 15px;
}
.box1{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    background-color: rgb(243, 242, 242);
    text-align: justify;
    padding: 24px;
}
.all{
    background-color: #006A50;
    padding: 13px;
    border-radius: 8px;
}
.box1-right{
    padding: 48px;
    border-radius: 24px;
}
.box2{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    background-color: rgb(231, 226, 226);
    text-align: justify;
    padding: 24px;
}
