
/* banner style */
.banner-greetings{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 400;

}
.banner-title{
    font-weight: bold;
    font-size: 56px;
}
.banner-profile-pic{
    width: 474px;
}
.banner{
    display: flex;
    justify-content: space-around;
    background-color: #72bba7;
    border-radius: 24px;
    margin: 0 auto;
    width: 100;
    padding: 100px;

}
.btn-primary{
    background-color: #006A50;
    border-radius: 8px;
    padding: 17px;
}
.target-cont{
    
    padding: 50px;
      
}
.box{
    padding: 20px;
    width: 300px;
    height: 250px;
    border-radius: 23px;
}

.html-box{
    background-color: #5490F5;
}
.css-box{
    background-color: #09A15C;
}
.js-box{
    background-color: #FFC239;
}
.box-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.button1{
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px;
}
.button2{
    background-color: #09A15C;
    border-radius: 8px;
    padding: 11px;
}
.button3{
    background-color: #FFC239;
    border-radius: 8px;
    padding: 11px;
}